<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<!--no html extension when specifying the layout source-->
<!--otherwise
thymeleaf-error-resolving-template
http://stackoverflow.com/questions/29318811/thymeleaf-error-resolving-template
-->
<body layout:fragment="body">
<div class="container">
    <div class="jumbotron">

        <h3>Greeting</h3>

    </div>

    <p>
        <a href="/greeting">Greetings</a>
    </p>
</div>

</body>
</html>
