<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorator="layout">
<!--no html extension when specifying the layout source-->
<!--otherwise
thymeleaf-error-resolving-template
http://stackoverflow.com/questions/29318811/thymeleaf-error-resolving-template
-->
<body layout:fragment="body">
    <div class="container">
        <div class="jumbotron">
            <img src="../static/images/limbe.jpeg" width="100%"
                 th:src="@{images/limbe.jpeg}"/>

            <h3>Using Thymeleaf with Spring Boot</h3>
            <p>Hello marin!</p>
            /greeting, /login, /bootstrap
        </div>

        <p>
            <a href="/greeting">Greetings</a>
        </p>
    </div>

</body>
</html>
