<!Doctype html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml">

    <head lang="en">

        <title>My Navy portal starter</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

        <link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
              rel="stylesheet" media="screen" />

        <link th:href="@{css/side-bar.css}" rel="stylesheet" />

        <link rel="icon" th:href="@{/images/favicon.ico}" />

        <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    </head>


    <body layout:fragment="body">


    </body>
</html>